body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: dimgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
}

table ,td , th{
  margin: auto; 
  border: 3px solid black;
  border-radius: 5px;
  background-color: dimgrey;
}

button{
  background-color: red;
  border-radius: 3px;
}

div{
  background-color: dimgray;
}

footer{
  background-color: whitesmoke;
}

p{
  text-align: center;
  font-size: large;

}

